@import url('https://fonts.googleapis.com/css2?family=Garet:wght@400;700&display=swap');

body, html, #root {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
.analysis-section {
  margin-bottom: 20px;
}

.App {
  text-align: center;
}

header {
  height: 50px; /* Adjust as needed */
}

.section1 {
  background-image: url('/SEC1.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  color: white;
}

.App {
  text-align: center;
}

.header,
.section1,
.section2,
.section3 {
  padding: 20px;
}

.section2 .text,
.section2 .image,
.section3 .left-section,
.section3 .right-section {
  margin: 20px;
}

.section2 .text h2,
.section2 .text p,
.section3 .left-section h2,
.section3 .left-section ol,
.section3 .right-section h2,
.section3 .right-section ol {
  color: #333; /* Set text color to dark */
}

.section3 {
  display: flex;
  justify-content: space-around;
}

.section3 .left-section,
.section3 .right-section {
  width: 45%;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section3 .buttons {
  margin-top: 20px;
}

.section3 .buttons input,
.section3 .buttons button {
  display: block;
  margin: 10px auto;
}


.overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.section2 {
  display: flex;
  align-items: center;
  padding: 20px 20px;
  background-color: #EFE9E4;
}

.section2 .text {
  flex: 1;
  padding: 40px;
  text-align: left;
  font-family: 'Garet', sans-serif;
  color: #000; /* Adjust as needed */
}

.section2 .text h2 {
  font-size: 3.3em;
  margin-top: 10px;
  line-height: 1.2; /* Reduce line height */
  letter-spacing: -0.5px; /* Reduce letter spacing */
  font-family: 'Garet', sans-serif; /* Ensure font is Garet */
}

.section2 .text p {
  font-size: 1.2em;
  line-height: 1.4; /* Reduce line height */
  font-family: 'Garet', sans-serif; /* Ensure font is Garet */
}

.section2 .image {
  flex: 1;
  text-align: center;
}

.section2 .image img {
  max-width: 100%;
  height: auto;
}

.section3 {
  display: flex;
  align-items: center;
  padding: 40px 20px;
  background-color: #EFE9E4;
}

.section3 .image {
  flex: 1;
  text-align: center;
}

.section3 .image img {
  max-width: 100%;
  height: auto;
}

.section3 .text {
  flex: 1;
  padding: 80px;
  text-align: left;
  font-family: 'Garet', sans-serif;
  color: #000; /* Adjust as needed */
}

.section3 .text h2 {
  font-size: 3.2em;
  color: #A1826E; /* Highlight color */
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Garet', sans-serif; /* Ensure font is Garet */
}

.section3 .text p, .section3 .text ol {
  font-size: 1.2em;
  line-height: 1.4; /* Reduce line height */
  font-family: 'Garet', sans-serif; /* Ensure font is Garet */
  padding-left: 20px;
  padding-right: 20px;
}

.section3 .text ol {
  list-style-position: inside;
}

.section3 .text input[type="file"] {
  display: block;
  margin: 20px auto; /* Center align */
  font-size: 1.1em;
  padding: 8px;
  width: 40%; /* Adjust width as needed */
}

.section3 .text button {
  margin: 10px auto;
  padding: 15px 30px;
  font-size: 1.2em;
  background-color: #BEB2AC;
  color: white;
  border: none;
  cursor: pointer;
  display: block; /* Center align */
}

.section3 .text button:hover {
  background-color: #ae5f2a;
}

.section3 .text .buttons {
  display: flex;
  flex-direction: column; /* Stack buttons vertically */
  align-items: center; /* Center align buttons */
}

#result {
  margin-top: 20px;
  padding: 20px;
  background-color: #eaeaea;
  border: 1px solid #000;
  border-radius: 10px;
  text-align: center;
  font-size: 1.5em;
}
